<div class="eqLogic eqLogic-widget allowResize" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="height:60px;min-width : 50px;min-height : 60px ;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" >
    <center class="widget-name">
      <span style="font-size: 1.2em;"><a href="#eqLink#">#name_display# <span style="font-size: 0.85em;">#object_name#</span></a></span>
    </center>
    <center> 
      <span style="position:absolute;width:100%;left:0px;">
        <center>
          <span>Equipement non configuré</span>
        </center>

      </span>
    </center>
    

  </div>
  